<div class="serviceForm">
  <form [formGroup]="serviceFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="serviceName">Service's name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your service's name"
             formControlName="name" maxlength="50" required>
    </div>
    <div class="form-group">
      <label for="serviceCost">Cost for one month</label>
      <input type="text" class="form-control" id="cost" placeholder="Enter your service's cost"
             formControlName="cost" maxlength="10" required>
    </div>
    <div class="form-group">
      <label for="serviceDescription">Full description</label>
      <textarea type="text" class="form-control" id="description" placeholder="Maximum chars 250"
                formControlName="description" maxlength="250" style="resize: none" required></textarea>
    </div>

    <div class="form-group" id="createService">
      <button type="submit" class="createButton" id="create">Create</button>
    </div>

  </form>
</div>
