<div class="serviceForm">
  <form [formGroup]="serviceFormGroup">
    <div class="form-group">
      <label for="serviceName">Service's name</label>
      <input type="text" class="form-control" id="serviceName" placeholder="Enter your service's name"
             formControlName="serviceName" maxlength="50" required>
    </div>
    <div class="form-group">
      <label for="serviceCost">Cost for one month</label>
      <input type="text" class="form-control" id="serviceCost" placeholder="Enter your service's cost"
             formControlName="costName" maxlength="10" required>
    </div>
    <div class="form-group">
      <label for="serviceDescription">Full description</label>
      <textarea type="text" class="form-control" id="serviceDescription" placeholder="Maximum chars 250"
                formControlName="fullDescription" maxlength="250" style="resize: none" required></textarea>
    </div>
    <div id="short-descriptions-container">
      <label for="serviceDescription">Your benefits</label>
      <div class="form-group">
        <div class="fieldWithButton">
          <input type="text" class="form-control" id="benefits" placeholder="Maximum chars 15"
                 formControlName="shortDescriptionLine1" maxlength="15" required>
        </div>
        <div class="addButton" title="Add benefit" (click)="addField()">+</div>
      </div>
    </div>
    <div class="form-group" id="createService">
      <button type="submit" class="createButton" id="create">Create</button>
    </div>

  </form>
</div>
