<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">{{user.displayname}}</li>
                            <li class="email"><a href="#">{{user.email}}</a></li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav">
                            <li ><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
                            <li class="active"><a href="/mysubscriptions"><span class="fa fa-cog"></span> Subscriptions</a></li>
                            <li ><a href="/mywallet"><span class="fa fa-credit-card"></span> Wallet</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="content-panel">
                  <div class="content-header-wrapper">
                      <h2 class="title">My Subscriptions</h2>
                  </div>
