<div class="row">
  <div style="width: 100%; height: 450px; overflow: hidden">
    <img src="assets/Blog-Watching-TV.jpg" style="width: 100%; height: 900px; margin-top: -200px; z-index:-1">
  </div>
  <div class="button auth primary" style="top: -200px; z-index: 1; left: calc(50% - 46px)">EXPLORE</div>
  <div class="string">Your subscriptions in one place</div>
</div>

<div class="row" style="height: 320px">
  <div class="circle" style="z-index: 1;">
    <img src="assets/tv-online.jpg" style="margin-left: -200px;">
  </div>
  <div class="linetowatch" style="z-index: 1;">BEST WAY<br>TO WATCH<br>THEM ALL</div>
  <div class="backlayer" style="z-index: 0;"></div>
  <div class="linetowatch description">Watching a recently released movie, a popular series or a cartoon at home becomes
    a whole ritual.
    <br>Fortunately, most of this content is much cheaper than in classic movie theaters, and the possibilities here are
    much wider.
    <br>Huge databases with a detailed description and trailers help you choose the right option for different
    occasions.
    <br>In addition, the viewer himself determines the time when it is convenient for him to watch a particular movie /
    series,
    <br> as well as a device on which this can be done: a TV, computer, monitor, laptop, tablet or smartphone.
    <br>At the same time, the maximum picture quality and stereo sound will be guaranteed.</div>
</div>

<div class="row" style="margin-top: 85px; height: 530px; overflow: hidden">
  <div class="header-text">START WATCHING RIGHT NOW</div>
  <div class="row justify-content-around" style="left:20px; margin-top: 40px">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="overlay">
        <img class="play-button" src="assets/video.jpg">
      </div>
      <img src="assets/vikings.jpg" alt="Vikings" style="width:100%;height:230px;">
    </div>
    <div class="col-2">
      <div class="overlay">
        <img class="play-button" src="assets/video.jpg">
      </div>
      <img src="assets/animal-kingdom.jpg" alt="Animal-kindom" style="width:100%;height:230px">
    </div>
    <div class="col-2">
      <div class="overlay">
        <img class="play-button" src="assets/video.jpg">
      </div>
      <img src="assets/black-mirror.jpg" alt="Black-mirrow" style="width:100%;height:230px">
    </div>
    <div class="col-2">
      <div class="overlay">
        <img class="play-button" src="assets/video.jpg">
      </div>
      <img src="assets/how-i-met-your-mother.jpg" alt="How-i-met-your-mother" style="width:100%;height:230px">
    </div>
    <div class="col-2">
      <div class="overlay">
        <img class="play-button" src="assets/video.jpg">
      </div>
      <img src="assets/game-of-thrones.jpg" alt="Game-of-thrones" style="width:100%;height:230px">
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row justify-content-around" style="left:20px; margin-top: 15px">
    <div class="col-1"></div>
    <div class="col-2">
      <img src="assets/vikings.jpg" alt="Vikings" style="width:100%;height:230px;">
    </div>
    <div class="col-2">
      <img src="assets/animal-kingdom.jpg" alt="Animal-kindom" style="width:100%;height:230px">
    </div>
    <div class="col-2">
      <img src="assets/black-mirror.jpg" alt="Black-mirrow" style="width:100%;height:230px">
    </div>
    <div class="col-2">
      <img src="assets/how-i-met-your-mother.jpg" alt="How-i-met-your-mother" style="width:100%;height:230px">
    </div>
    <div class="col-2">
      <img src="assets/game-of-thrones.jpg" alt="Game-of-thrones" style="width:100%;height:230px">
    </div>
    <div class="col-1"></div>
  </div>
  <div class="blur-block"></div>
  <div class="blur-block bottom-part"></div>
  <div class="button auth primary" style="position: absolute; top: 1350px; right: calc(50% - 55.5px);">EXPLORE</div>
</div>


<div class="header-text" style="margin-bottom: 25px">PARTNERSHIP</div>
<div class="row justify-content-around">
  <div class="col-1"></div>
  <div class="col-3">
    <div class="partnership-landing-icon" id="icon-1">
      <img class="partnership-landing-icon-image" style="mix-blend-mode: overlay;" src="assets/globe.png">
    </div>
    <div class="partnership-landing-desc">10 million users worldwide</div>
  </div>
  <div class="col-3">
    <div class="partnership-landing-icon" id="icon-2">
      <img class="partnership-landing-icon-image" src="assets/Check_green_icon.svg.png">
    </div>
    <div class="partnership-landing-desc">Easy to set up<br>and manage</div>
  </div>
  <div class="col-3">
    <div class="partnership-landing-icon" id="icon-3">
      <img class="partnership-landing-icon-image" style="mix-blend-mode: overlay;" src="assets/support.png">
    </div>
    <div class="partnership-landing-desc">24/7<br>customer support</div>
  </div>
  <div class="col-1"></div>
</div>
<div class="row justify-content-center" style="margin-top: 30px">
  <div class="header-text partnership-already">Already working with</div>
</div>
<div class="row justify-content-center">
  <div class="partner-icon">
    <img class="partner-icon-img large" src="assets/netflix.png">
  </div>
  <div class="partner-icon">
    <img class="partner-icon-img large" style="top: calc(50% - 15px)" src="assets/kinopoisk.png">
  </div>
  <div class="partner-icon">
    <img class="partner-icon-img" src="assets/voka.png">
  </div>
</div>
<div class="row justify-content-center" style="margin-top: 20px; margin-bottom: 30px;">
  <div class="button auth primary">ADD YOUR COMPANY</div>
</div>
