                    <div class="content-header-wrapper">
                        <h2 class="title">My Profile</h2>
                    </div>
                    <div class="content-utilities">
                      <div class="col-md-9  admin-content" id="profile">
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Name</h3>
                            </div>
                            <div class="panel-body">
                                {{user.displayname}}
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Email</h3>
                            </div>
                            <div class="panel-body">
                                {{user.email}} ggas@gmail.com
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Wallet</h3>
                            </div>
                            <div class="panel-body">
                                On the account : 50$
                            </div>
                        </div>
