                  <div class="wrapper">
                    <div class="app-wrapper">

                      <!--Wallet-->
                      <aside class="wallet">
                        <h2>My Wallets</h2>
                        <div class="modal-control" (click)="openModal()">+</div>
                        <div *ngFor="let card of cards" class="credit-card {{card.type}}">
                          <div class="card-image"></div>
                          <div class="credit-card_number">{{card.number}}</div>
                          <div class="credit-card_expiration">Valid Thru:{{card.expiration}}</div>
                        </div>
                      </aside>

                      <content class="transactions-wrapper">
                        <h2>
                          Current Balance
                          <span class="total-balance"></span>
                        </h2>
                        <div class="transactions"></div>
                      </content>

                    </div>

                  </div>
                  <div class="modal">
                    <div class="modal-body">
                      <h3>Add New Card</h3>
                      <div class="modal-close" (click)="closeModal()">+</div>
                      <app-card-form></app-card-form>
                    </div>
                    <div class="modal background" (click)="closeModal()"></div>
                  </div>
