<div class="container" style="margin-top: 50px; margin-bottom: 40%; ">
  <div class="row justify-content-around">
    <div *ngFor="let item of subscriptions | async" class="col-3">
      <div class="subbackground">
        <p class="subname">{{item['name']}}</p>
        <p class="price">$ {{item['price']}} /month</p>
        <ul>
          <li *ngFor="let line of item['description']">{{line}}</li>
        </ul>
        <div class="row justify-content-center">
          <div id="{{item['name']}}" class="button subbutton"(click)="subscribeToService(item['name'])">Subscribe</div>
        </div>
      </div>
    </div>
  </div>
</div>

